@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');


html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

.home-background{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.purple-circle {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    width: 40%;
}

.yellow-circle-1 {
    padding: 0;
    position: relative;
    width: 10%;
    height: auto;
    align-self: flex-start;
}

.small-circles {
    padding: 0;
    position: relative;
    width: 40%;
    top: 10em;
    left: -10em;
    height: 100%;
}
  
nav {
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 99;
    top: 0em;
    overflow: hidden;
}
  
nav ul {
    margin: 0;
    padding: 0.6em 10em 0 0;
    list-style: none;
    overflow: hidden;
    background-color: none;
}
  
  nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 1.1rem;
  }
  
  nav li a:hover,
  nav .menu-btn:hover {
    color: grey;
  }
  
  nav .logo {
    display: block;
    float: left;
    padding: 0.2em 1em 0.2em 6em;
    width: 4.5em;
    cursor: pointer;
  }

  nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  nav .menu-icon {
    cursor: pointer;
    display: block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
    float: right;
  }
  
  nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  nav .menu-icon .navicon:before,
  nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  nav .menu-icon .navicon:before {
    top: 5px;
  }
  
  nav .menu-icon .navicon:after {
    top: -5px;
  }

  nav .menu-btn {
    display: none;
  }
  
  nav .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

#home {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0em;
    z-index: 10;
}

#home .home-container {
    display: flex;
    position: relative;
    top: 7em;
    justify-content: space-around;
    padding: 0em 5em;
}

#home .home-hero {
    width: 100%;
    width: 100em;
}

#home .home-text-container {
    width:100%;
    height: auto;
    position: relative;
    top: 9em;
    left: 2.5em;
}

#home .home-text-container h1 {
    font-weight: bold;
    font-size: 3rem;
}

#home .home-text-container h3 {
    position: relative;
    top: -0.5em;
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#home .home-text-container a {
    position: relative;
    top: 0.1em;
    font-size: 1rem;
    background-color: #5956E9;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 0.5em;
    color: white;
}

#about {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0em;
  padding-top: 6em;
  padding-bottom: 5em;
}

#about .about-container {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#about .about-text {
  position: relative;
  padding-left: 8em;
  width: 70%;
}

#about .about-text h1 {
  font-size: 3rem;
}

#about .about-text h3 {
  line-height: 2em;
  font-weight: 500;
  padding-bottom: 3em;
  color: #737373;
}

#about a {
  position: relative;
  top: 0.1em;
  font-size: 1rem;
  background-color: #FFA500;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  color: white;
}

.heading {
  width:auto;
  height: auto;
  position: relative;
  display: flex;
  gap: 1em;
  padding-left: 5em;
  padding-bottom: 5em;
}

.heading-text {
  position: relative;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.line {
  position: relative;
  align-self: center;
  width: 5em;
  height: 0.3em;
  border-radius: 20%;
  background-color: black;
}

#affiliate {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  top: 0em;
  padding-top: 6em;
  padding-bottom: 5em;
}

#affiliate .affiliate-container {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#affiliate .affiliate-text {
  position: relative;
  padding-left: 8em;
  width: 70%;
  padding-bottom: 3em;
}

#affiliate .affiliate-text h3 {
  font-weight: 500;
  line-height: 2em;
  color: #737373;
}

#affiliate svg {
  padding: 0;
}

#affiliate a {
  position: relative;
  top: 0.1em;
  font-size: 1rem;
  background-color: #FFA500;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 0.5em;
  color: white;
}

  @media (min-width: 48em) {
    nav li {
      float: left;
    }
    nav li a {
      padding: 20px 30px;
    }
    nav .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    nav .menu-icon {
      display: none;
    }
  }
  